<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetti Samuele</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="/icona">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oldenburg&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oldenburg&family=Poetsen+One&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="title">I miei progetti</h1>
    <div id="divdesc">
        <p id="descr">
            Mi chiamo Samuele e frequento il quinto anno di ITIS, sezione informatica. Quest'anno è stato <br>
            particolarmente intenso e ricco di sfide, ma anche di soddisfazioni. Ho cambiato scuola al <br>
            quarto anno, un'esperienza che mi ha messo a dura prova, non solo per l'adattamento a un nuovo ambiente, ma <br>
            anche per le nuove materie e i diversi metodi di insegnamento.
            <br>
            <br>
            Una delle cose che mi ha aiutato a superare le difficoltà è stata la mia passione per l'informatica e la scoperta <br>
            di nuove tecnologie. Ho imparato a creare siti web, applicazioni web e progetti per la gestione di web <br>
            design. Ho avuto l'opportunità di lavorare su diversi progetti, che non solo mi hanno permesso di applicare<br>
            le mie conoscenze, ma mi hanno anche dato la possibilità di esplorare nuove tecnologie e migliorare le mie<br>
            competenze.
            <br>
            <br>
            Il mio primo progetto è stato una relazione sul funzionamento della proprietà flex nel CSS.<br>
            prima esperienza con il concetto del "web responsive", e mi ha aperto gli occhi su quanto sia importante <br>
            la flessibilità nella costruzione di interfacce web. Scrivere quella relazione mi ha permesso di comprendere <br>
            a fondo come i contenuti possono adattarsi in modo dinamico a diverse dimensioni di schermo, rendendo i siti <br>
            web più accessibili e user-friendly.
            <br>
            <br>
            Un altro progetto su cui ho lavorato è stato un sito di e-commerce per l'acquisto di orologi. Questo sito<br>
            sfruttava un database per gestire i prodotti e permetteva agli utenti di filtrare gli orologi per diversi<br>
            attributi come marca, tipologia, materiale e stile. È stato il mio primo vero approccio con i database<br>
            relazionali e con l'interazione tra front-end e back-end. Ho imparato a utilizzare SQL per le query e a<br>
            implementare funzionalità di ricerca avanzate, migliorando notevolmente le mie capacità di sviluppo web<br>
            full-stack, in più successivamente ho implementato le sessioni che permettono agli utenti di registrarsi <br>
            e accedere e registrarsi al sito.
            <br>
            <br>
            Successivamente, ho lavorato su un sito che utilizza l'effetto parallax per simulare un sito di giornalismo.<br>
            Questo progetto è stato particolarmente stimolante perché mi ha permesso di combinare effetti visivi<br>
            accattivanti con una struttura di contenuti ben organizzata. Ho imparato a gestire meglio il JavaScript e le<br>
            animazioni CSS, creando un'esperienza utente coinvolgente e fluida.
            <br>
            <br>
            Infine, ho realizzato un progetto che permette la visualizzazione di calciatori in un database. Ogni<br>
            calciatore, se cliccato, porta a una pagina creata dinamicamente per lui. Nel sito è possibile effettuare<br>
            operazioni CRUD (Create, Read, Update, Delete). Questo progetto mi ha permesso di approfondire ulteriormente<br>
            le mie competenze con Node.js, la libreria express e la tecnologia SOAP e MySQL, nonché di comprendere<br>
            l'importanza delle operazioni CRUD nella gestione dei dati.
            <br>
            <br>
            Il cambiamento di scuola e l'affrontare nuovi argomenti di studio non è stato facile. Ho dovuto adattarmi a<br>
            nuovi metodi di insegnamento, fare nuove amicizie e, soprattutto, gestire un carico di lavoro diverso.<br>
            Tuttavia, l'esperienza mi ha reso più resiliente e determinato. Ho imparato a gestire meglio il mio tempo e<br>
            a sfruttare al massimo le risorse a mia disposizione, come i professori e i compagni di classe.
            <br>
            <br>
            Dopo questi ultimi due anni di ITIS, sono sicuro che continuerò a crescere sia come studente che come<br>
            sviluppatore. Ogni progetto è un'opportunità per imparare qualcosa di nuovo e per prepararmi al meglio per<br>
            il futuro, che spero possa essere ricco di opportunità nel mondo dell'informatica e del web design.
            <br>
            <br>
        </p>
    </div>

    <h2 id="sotDesc">Grazie per la lettura della mia esperienza! Qui sotto puoi trovare i link per la visualizzazione dei miei progetti citati nel testo</h2>

    <ul id="list">
        <li><a href="http://localhost:7000" class="link">Presentazione FlexBox</a></li>
        <li><a href="http://localhost:4600" class="link">RolexLandia</a></li>
        <li><a href="http://localhost:5000" class="link">Sami-News</a></li>
        <li><a href="http://localhost:3000" class="link">Sito Calciatori</a></li>
    </ul>       

    <footer>
        <p>Copyright © 2020 Sami-Corp</p>
    </footer>

    <div id="footerdiv">

    </div>
    
</body>

</html>