<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrati</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="icon" href="./Assets/Redist/OIG3.x.jfif" id="Icon">
</head>
<body>
    <header>
        <a href="/"><h1>RolexLandia</h1></a>
        <img src="./Assets/Redist/icons8-fiaba-50.png" alt="logo" id="RolexLandia_logo">
    </header>

<br>
<br>
    <div id="Spazio">
        <form id="login-form" action="/register" method="post">
            <fieldset>
                <legend>Registrati</legend>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Registrati">
            </fieldset>
        </form>
    </div>
</body>
</html>
