<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="RolexLandia_logo.png" alt="RolexLandia Logo" id="RolexLandia_logo">
        <h1>RolexLandia</h1>
        <div id="links">
            <a href="#" class="link">Home</a>
            <a href="#" class="link">Prodotti</a>
            <a href="#" class="link">Contatti</a>
        </div>
    </header>

    <div id="navi">
        <ul>
            <li><a href="#" class="link2">Link 1</a></li>
            <li><a href="#" class="link2">Link 2</a></li>
            <li><a href="#" class="link2">Link 3</a></li>
        </ul>
    </div>

    <div id="Spazio">
        <form id="login-form" action="#" method="post">
            <fieldset>
                <legend>Login</legend>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </fieldset>
        </form>
    </div>
</body>
</html>
