<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Flexbox</title>
    <link rel="icon" href="./assets/icona.png">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div id="io1">
        <h1>Spiegazione del layout Flexbox</h1>
        <h2>Proprietà Display</h2>
        <br>
        <p>Iniziamo dalla teoria, Cos'è il layout <b>Flexbox</b>?</p>
        <p><b>Il layout Flexbox è un metodo di layout in CSS che consente di organizzare e allineare gli elementi all'interno di un contenitore in modo flessibile ed è possibile creare layout dinamici che si adattano a diverse dimensioni dello schermo e dispositivi. </b></p>
        <p>Ma adesso andremo a vedere qual'è il comando che serve ad impostare questo tipo di layout, ovvero la proprietà "display".</p>
        <img class="img1" src="./assets/display.PNG" alt="immagine della proprietà">
        <p><b>Attenzione!</b> Molte volte si pensa che il comando giusto per introdurre nel proprio codice il layout flexbox nel proprio codice sia: <br> display: flexbox; <br> Quando in realtà, la proprietà appena citata non è più funzionante ed obsoleta. L'unico comando corretto è quello riportato nell'imagine qui sopra.</p>
        <h2>Proprietà Order</h2>
        <p>Di default, gli elementi sono ordinati in base all'ordine di disposizione del codice, ma abbiamo un proprietà che permette di ordinarli. </p>
        <img class="img1" src="./assets/order.PNG" alt="immagine della proprietà order ">
        <p>La proprietà <b>order</b> permette di ordinare gli elementi attraverso un indice. Più l'indice è alto, più esso sarà posto in avanti rispetto a quelli con indice minore. Se due elementi hanno lo stesso indice saranno posti in ordine di default, ovvero rispettando l'ordine del codice.</p>
        <p>Esempio:</p>
    </div>
    
    <div id="io2">
        <button id="b1">1</button>
        <button id="b2">2</button>
        <button id="b3">3</button>
    </div>
    
    <br>
    <br>
    
    <div id="io3">

        <p>pulsante 1:</p>
        <img class="img1" src="./assets/b1.PNG" alt="codice pulsante 1">
        <p>pulsante 2:</p>
        <img class="img1" src="./assets/b2.PNG" alt="codice pulsante 2">
        <p>pulsante 3:</p>
        <img class="img1" src="./assets/b3.PNG" alt="codice pulsante 3">

    </div>

    <div id="ionav">
        <p>1</p>
        <a id="sx1" href="./flex1.html"><img id="sx1" src="./assets/destra.png" alt="pagina successiva"></a>
        <a id="sk-dx" href="./gap.html"><img id="sk-dx" src="./assets/skip-dx.png" alt="vai all'ultima pagina"></a>
    </div>

</body>

</html>